{% extends 'base.html.twig' %}

{% block content %}

    {% block breadcrumbs %}{% endblock %}
    <div class="clearfix new-site {% block type %}{% endblock %}">
        {{ form_start(form, {'attr': {'class': 'form-horizontal'}}) }}
        {{ form_errors(form) }}

        <h2>{{ 'site.new.subdomain.title' | trans }}</h2>
        <div class="form-group" data-intro="{{ 'help.site.new.subdomain' | trans | raw }}">
            {{ form_errors(form.subdomain) }}
            {{ form_label(form.subdomain) }}
            <div class="col-sm-5">
                <div class="input-group">
                    {{ form_widget(form.subdomain, {'attr': {'class': 'input-lg'}}) }}
                    <div class="input-group-addon">{% block suffix %}{% endblock %}</div>
                </div>
                <div class="address-result hidden alert alert-success" data-site-type="{{ site_base_type | trans }}"></div>
            </div>
            <div class="col-sm-5">
                <small class="help-block">{{ 'site.new.info.subdomain_help' | trans | raw }}</small>
            </div>
        </div>
        <div class="alert alert-info col-md-offset-2">
            {{ 'site.new.info.domain' | trans }} <a href="{{ path('domain') }}" target="_blank" rel="noopener noreferrer"><b>{{ 'site.new.info.more' | trans }} <span class="glyphicon glyphicon-new-window" aria-hidden="true"></span></b></a>
        </div>

        <h2>{{ 'site.new.informations.title' | trans }}</h2>
        <div class="form-group" data-intro="{{ 'help.site.new.name' | trans | raw }}">
            {{ form_errors(form.siteName) }}
            {{ form_label(form.siteName) }}
            <div class="col-sm-10">
                {{ form_widget(form.siteName) }}
                <small class="help-block">{{ 'site.new.informations.site_name.desc' | trans }} - {{ 'site.new.informations.later' | trans }}</small>
            </div>
        </div>

        <div class="form-group" data-intro="{{ 'help.site.new.desc' | trans | raw }}">
            {{ form_errors(form.siteDescription) }}
            {{ form_label(form.siteDescription) }}
            <div class="col-sm-10">
                {{ form_widget(form.siteDescription) }}
                <small class="help-block">{{ 'site.new.informations.site_description.desc' | trans }} - {{ 'site.new.informations.later' | trans }}</small>
            </div>
        </div>
        {% block informations %}
        {% endblock informations %}

        <h2>{{ 'site.new.user.title' | trans }}</h2>
        <div class="alert alert-info col-md-offset-2">
            {{ 'site.new.info.prefilled' | trans }}
        </div>

        {% block fields %}

        <div class="form-group">
            {{ form_errors(form.siteUsers.password.first) }}
            {{ form_label(form.siteUsers.password.first) }}
            <div class="col-sm-10">
                {{ form_widget(form.siteUsers.password.first, {'attr': {'class': 'passwordToCheck first'}}) }}
                <small class="help-block">{{ 'site.new.info.different_password' | trans }}</small>
                <div class="alert alert-danger hidden" id="short">
                    {{ 'site.new.user.password_validation.short' | trans }}
                </div>
            </div>
        </div>

        <div class="form-group">
            {{ form_errors(form.siteUsers.password.second) }}
            {{ form_label(form.siteUsers.password.second) }}
            <div class="col-sm-10">
                {{ form_widget(form.siteUsers.password.second, {'attr': {'class': 'passwordToCheck second'}}) }}
                <div class="alert alert-danger hidden" id="different">
                    {{ 'site.new.user.password_validation.different' | trans }}
                </div>
            </div>
        </div>
        {% endblock %}

        {% block user %}
            <div class="form-group" data-intro="{{ 'help.site.new.admin.fullname' | trans }}">
                {{ form_errors(form.siteUsers.fullName) }}
                {{ form_label(form.siteUsers.fullName) }}
                <div class="col-sm-10">
                    {{ form_widget(form.siteUsers.fullName) }}
                    <small class="help-block">{{ 'site.new.info.fullname' | trans | raw }}</small>
                </div>
            </div>
        {% endblock user %}

        <div class="pull-right">
            <a href="{{ path('homepage') }}" class="btn btn-default">{{ 'site.new.cancel' | trans }}</a>
            {{ form_widget(form.save, {'attr': {'class': 'btn btn-success'}, 'label': 'site.new.type.label' | trans({'%site_type%': site_type | trans})}) }}
        </div>
        {{ form_row(form._token) }}

    </div>
{% endblock %}
