{% extends ':default/site/new:default.html.twig' %}

{% block breadcrumbs %}
    <ol class="breadcrumb">
    <li><a href="{{ path('homepage') }}">{{ 'breadcrumbs.home' | trans }}</a></li>
    <li><a href="{{ path('new-single-page') }}">{{ 'breadcrumbs.site.new.single-page' | trans }}</a></li>
    </ol>
{% endblock %}
{% block suffix %}.frama.site{% endblock %}
{% block type %}single-page{% endblock %}

{% block fields %}

    <div class="form-group" data-intro="{{ 'help.site.new.admin.username' | trans }}">
        {{ form_errors(form.siteUsers.username) }}
        {{ form_label(form.siteUsers.username) }}
        <div class="col-sm-10">
            {{ form_widget(form.siteUsers.username,  {'attr': {'pattern': "^[a-z0-9]+$"}}) }}
            <small class="help-block">{{ 'site.new.info.lowercase_username' | trans }}</small>
        </div>
    </div>

    {{ parent() }}
{% endblock %}
{% block informations %}
    <div class="form-group" data-intro="{{ 'help.site.new.keywords' | trans }}">
        {{ form_errors(form.siteKeywords) }}
        {{ form_label(form.siteKeywords) }}
        <div class="col-sm-10">
            {{ form_widget(form.siteKeywords) }}
            <small class="help-block">{{ 'site.new.informations.site_keywords.desc' | trans }}</small>
        </div>
    </div>
{% endblock %}

{% block user %}
{#<div class="form-group">
    {{ form_errors(form.siteUsers.locale) }}
    {{ form_label(form.siteUsers.locale) }}
    <div class="col-sm-10">
        {{ form_widget(form.siteUsers.locale) }}
        <small class="help-block">{{ 'site.new.info.optional' | trans }}</small>
    </div>
</div>#}
{% endblock user %}
