{% extends 'base.html.twig' %}

{% block title %}Oups, petit souci{% endblock %}

{% block content %}
    <div class="row">
        <h1>Oups, petit souci</h1>
        <p>Apparemment, notre prestataire pour la gestion des domaines a eu un petit souci avec le traitement de votre requête.</p>

        <p>Voici le détail d'erreur :</p>
        <pre>{{ message }}</pre>
    </div>
{% endblock %}