{% extends "@FOSUser/layout.html.twig" %}

{% trans_default_domain 'messages' %}

{% block fos_user_content %}
<div class="uk-flex uk-flex-center">
    <div class="uk-card uk-card-default uk-card-large uk-width-1-2@m uk-card-body uk-margin-large-bottom">
    <p>{{ 'registration.check_email.sent' | trans({'%email%': user.email}) }}</p>
    <p>{{ 'registration.check_email.contains' | trans }}</p>
    <p>{{ 'registration.check_email.check' | trans }}</p>
    </div>
</div>
{% endblock fos_user_content %}
