{% trans_default_domain 'FOSUserBundle' %}

<h2>{{ 'index.create_a_framasite_account' | trans({}, 'messages') }}</h2>
<div>
    {{ form_start(form, {'method': 'post', 'action': path('fos_user_registration_register'), 'attr': {'class': 'fos_user_registration_register form-horizontal'}}) }}

        {{ form_widget(form._token) }}

        <div class="form-group">
            {{ form_errors(form.username) }}
            {{ form_label(form.username, 'index.register.username' | trans({}, 'messages'), {'label_attr': {'class': 'col-sm-4 control-label'}}) }}
            <div class="col-sm-4">
                <div>
                    {{ form_widget(form.username, {'attr': {'pattern': "[a-zA-Z0-9]+", 'maxlength': '25', 'class': 'form-control'}}) }}
                </div>
                <small class="help-block">{{ 'index.register.warning.format' | trans({}, 'messages') }}</small>
            </div>
        </div>

        <div class="form-group">
            {{ form_errors(form.email) }}
            {{ form_label(form.email, '', {'label_attr': {'class': 'col-sm-4 control-label'}}) }}
            <div class="col-sm-4">
                <div>
                    {{ form_widget(form.email, {'attr': {'class': 'form-control'}}) }}
                </div>
                <small class="help-block">{{ 'index.register.warning.disposable' | trans({}, 'messages') }}</small>
            </div>
        </div>

        <div class="form-group">
            {{ form_errors(form.plainPassword.first) }}
            {{ form_label(form.plainPassword.first, '', {'label_attr': {'class': 'col-sm-4 control-label'}}) }}
            <div class="col-sm-4">
                {{ form_widget(form.plainPassword.first, {'attr': {'class': 'form-control passwordToCheck first'}}) }}
                <div class="alert alert-danger hidden" id="short">
                    {{ 'site.new.user.password_validation.short' | trans({}, 'messages') }}
                </div>
            </div>
        </div>

        <div class="form-group">
            {{ form_errors(form.plainPassword.second) }}
            {{ form_label(form.plainPassword.second, '', {'label_attr': {'class': 'col-sm-4 control-label'}}) }}
            <div class="col-sm-4">
                {{ form_widget(form.plainPassword.second, {'attr': {'class': 'form-control passwordToCheck second'}}) }}
                <div class="alert alert-danger hidden" id="different">
                    {{ 'site.new.user.password_validation.different' | trans({}, 'messages') }}
                </div>
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-offset-4 col-sm-8">
                <input type="submit" class="btn btn-success" value="{{ 'registration.submit'|trans }}" />
                <a href="{{ path('fos_user_security_login') }}" class="btn">Se connecter</a>
            </div>
        </div>
    {{ form_end(form) }}
</div>