@import '~uikit/dist/css/uikit.css';
@import '~bootstrap/dist/css/bootstrap.css';

.fos_user_registration_register .alert li {
    list-style-type: none;
}

.glyphicon.spinning {
    animation: spin 1s infinite linear;
}

@keyframes spin {
    from { transform: scale(1) rotate(0deg); }
    to { transform: scale(1) rotate(360deg); }
}

.choose-domain {
    cursor: pointer;
}

.uk-card-badge {
    font-size: inherit;
}

.uk-card-header .fa {
    font-size: 3em;
}

.carousel .item {
    max-height: 30em;
}

.carousel .item img {
    object-fit: cover;
}

#site-view .label {
    font-size: 1em;
}

.required:after { content:" *"; }

/*
 * Jo
 */
html,body {
    background: #eee;
}

.uk-container.ombre {
    margin-top: 20px;
    margin-bottom: 30px;
    padding: 20px 30px;
}

header > .uk-flex {
    border-bottom:8px solid #eee;
}
.uk-flex {
    margin:0 0 20px;
    padding-bottom:20px;
}


.uk-first-column {
    padding-left:0;
}

.uk-card-default {
    box-shadow:none;
}

.home .uk-cover-container {
    box-shadow: 0 4px 4px rgba(50,50,50,.2);
    padding-bottom: 15px;
    margin-top: 0;
}

.home .breadcrumb {
    /*! display:none; sur home mais pas sur Paramètres  */
}

.choice .uk-card-body {
    background: #fff;
    color: #111;
}

.choice .uk-card-footer {
    background: #fff;
}

.choice .uk-card {
    border-radius: 4px;
}

.choice .uk-card .uk-card-title {
    font-size: 2em;
}

.choice .uk-card .uk-card-footer .btn-default {
    color: #0d0d0d;
}

.choice .uk-card.blog {
    border: 1px solid #CC2D18;
}

.choice .uk-card.wiki {
    border: 1px solid #C05827;
}

.choice .uk-card.page {
    border: 1px solid #677835;
}

.choice .blog .uk-card-header {
    background: #AB2909;
}

.choice .wiki .uk-card-header {
    background: #C05827;
}

.choice .page .uk-card-header {
    background: #677835;
}

.choice .advanced .uk-card-header {
    background: #757575;
}

.choice .uk-card.advanced {
    border: 1px solid #757575;
}

.breadcrumb {
    background: #fff;
    padding-left:0;
}

/* Gestion des sites */
.uk-card-default .uk-card-header,
.uk-card-default .uk-card-body,
.uk-card-default .uk-card-footer{
    border:1px solid #ccc;
}

.uk-card-default .uk-card-body{
    border-top:0;
    border-bottom:0;
}

.uk-card-default .uk-card-header {
    border-bottom: 1px solid #eee;
}

.uk-card-default .uk-card-footer {
    border-top: 1px solid #eee;
}

.uk-card-default .uk-card-header a .glyphicon {
    font-size:small;
}
.uk-card-default .uk-card-header h3 {
    margin-top:8px;
}

.uk-label {
    background:#757575;
}

/** Gestion d'un site */
#site-view.uk-card-default .uk-card-header,
#site-view.uk-card-default .uk-card-body,
#site-view.uk-card-default .uk-card-footer {
    border:0;
    padding-left:0;
    padding-right:0;
}

/* Fix Home */
.uk-flex-between .uk-card-default .uk-card-header,
.uk-flex-between .uk-card-default .uk-card-body,
.uk-flex-between .uk-card-default .uk-card-footer {
    border:0;
}

/* IntroJS */
.introjs-arrow { visibility:hidden }

.introjs-lg {
    min-width: 480px !important;
    max-width: 640px !important;
}

.introjs-button {
    margin-top: 0 !important;
    margin-bottom: 10px !important;
}

.introjs-tooltipbuttons{
    text-align: left !important;
}

.introjs-skipbutton {
    float: right;
    font-size:14px !important;
    background:#fff !important;
    border:none !important;
    padding:0 !important;
    margin: 0 !important;
}

.introjs-tooltip p {
    margin-top:0;
    margin-bottom:10px;
}

.introjs-helperLayer {
    background-color: rgba(255,255,255,.4) !important;
}

/**
 * The CSS shown here will not be introduced in the Quickstart guide, but shows
 * how you can use CSS to style your Element's container.
 */
.StripeElement {
    background-color: white;
    padding: 10px 12px;
    border-radius: 4px;
    border: 1px solid transparent;
    box-shadow: 0 1px 3px 0 #e6ebf1;
    -webkit-transition: box-shadow 150ms ease;
    transition: box-shadow 150ms ease;
}

.StripeElement--focus {
    box-shadow: 0 1px 3px 0 #cfd7df;
}

.StripeElement--invalid {
    border-color: #fa755a;
}

.StripeElement--webkit-autofill {
    background-color: #fefde5 !important;
}
