<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <title>{{ 'command.invoice.title' | trans({'%domains%': command.domainNames}) }}</title>
    {% if pdf %}
        <link href="{{ pathToWeb ~ '/build/bootstrap.css' }}" rel="stylesheet" type="text/css" />
    {% else %}
        <link href="{{ asset('build/bootstrap.css') }}" rel="stylesheet" type="text/css" />
    {% endif %}
    <style>
        .invoice-title h2, .invoice-title h3 {
            display: inline-block;
        }

        .table > tbody > tr > .thick-line {
            border-top: 2px solid;
        }

        .container .row {
            margin-top: 20px;
        }

        .violet, .frama {
            color: #6A5687;
        }

        .orange, .soft {
            color: #EB7239;
        }

        {% if pdf %}
        /* Sticky footer styles
-------------------------------------------------- */
        html {
            position: relative;
            min-height: 100%;
        }
        body {
            /* Margin bottom by footer height */
            margin-bottom: 60px;
        }
        .footer {
            position: absolute;
            bottom: 0;
            width: 100%;
            /* Set the fixed height of the footer here */
            height: 60px;
            background-color: #f5f5f5;
        }


        /* Custom page CSS
        -------------------------------------------------- */
        /* Not required for template or sticky footer method. */

        .container {
            width: auto;
            max-width: 680px;
            padding: 0 15px;
        }
        .container .text-muted {
            margin: 20px 0;
        }

        {% endif %}

    </style>
</head>
<body>
{% if not pdf %}
<script src="https://framasoft.org/nav/nav.js" type="text/javascript"></script>
{% endif %}
<div class="container">
    <div class="row">
        <div class="col-xs-12">
            <div class="invoice-title">
                <h2><span class="frama">Frama</span><span class="soft">soft</span></h2><h5 class="pull-right">{{ 'command.invoice.slogan' | trans }}</h5>
            </div>
            <hr>
            <div class="row">
                <div class="col-xs-6">
                    <address>
                        {{ framasoftAddress | raw }}
                    </address>
                </div>
                <div class="col-xs-6 text-right">
                    {% if command.user.firstName is not null %}
                        {{ command.user.firstName }} {{ command.user.lastName }}<br>
                    {% else %}
                        {{ command.user.username }}<br>
                    {% endif %}
                    {% if command.user.streetAddress is not null %}
                        {{ command.user.streetAddress | nl2br }}<br>
                    {% endif %}
                    {% if command.user.zipCode is not null %}
                        {{ command.user.zipCode }}
                    {% endif %}
                    {% if command.user.city is not null %}
                        {{ command.user.city }}<br>
                    {% endif %}
                    {{ command.user.email }}<br>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12">
                    <h1>{{ 'command.invoice.invoice_number' | trans({'%number%': command.id}) }}</h1>
                </div>
            </div>
            {% if command.stripeId is not null %}
                {% set paymentDetails = payment_details(command.stripeId) %}
                {% set cardDetails = paymentDetails.source %}
            {% else %}
                {% set paymentDetails = null %}
            {% endif %}

            <div class="row">
                <div class="col-xs-6">
                    <strong>{{ 'command.invoice.payment_informations' | trans }}&nbsp;:</strong><br />
                    {% if command.status is constant('AppBundle\\Entity\\Command::STATUS_FINISHED') %}
                        {{ 'command.invoice.card' | trans({'%type%': cardDetails.brand, '%last4%': cardDetails.last4 }) }}
                    {% else %}
                        {{ 'command.status.not_payed' | trans }}
                    {% endif %}
                </div>
                <div class="col-xs-6 text-right">
                    <strong>{{ 'command.invoice.created' | trans }}&nbsp;:</strong><br />
                    {{ command.createdAt | localizeddate }}
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title"><strong>{{ 'command.invoice.order_summary' | trans }}</strong></h3>
                </div>
                <div class="panel-body">
                    <div class="table-responsive">
                        <table class="table table-condensed">
                            <thead>
                            <tr>
                                <td>
                                    {{ 'command.invoice.item' | trans }}
                                </td>

                                <td class="text-right">
                                    {{ 'command.invoice.price' | trans }}
                                </td>
                            </tr>
                            </thead>
                            <tbody>
                            {% for commandDomain in command.commandDomains %}
                                <tr>
                                    <td>
                                        {{ 'command.invoice.domain_name' | trans({'%domainname%': commandDomain.domain.domainName }) }}
                                    </td>

                                    <td class="text-right">
                                        {{ commandDomain.amount | number_format(2, '.') }}€
                                    </td>
                                </tr>
                            {% endfor %}

                            {% if command.cut > 0 %}
                                <tr>
                                    <td>
                                        {{ 'command.invoice.cut' | trans }}
                                    </td>

                                    <td class="text-right">
                                        {{ command.cut | number_format(2, '.') }}€
                                    </td>
                                </tr>
                            {% endif %}


                            <tr>
                                <td>
                                    {{ 'command.invoice.marge' | trans }}
                                </td>

                                <td class="text-right">
                                    {{ command.amount | number_format(2, '.') }}€
                                </td>
                            </tr>

                            <tr>
                                <td class="thick-line text-right"><strong>{{ 'command.invoice.total' | trans }}</strong></td>
                                <td class="thick-line text-right">{{ command.total }}€</td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% if not pdf %}
    <div class="row">
        <a class="btn btn-primary" href="{{ path('command-invoice-pdf', {'command': command.id}) }}">{{ 'command.invoice.download_pdf' | trans }}</a>
    </div>
    {% endif %}

</div>
{% if pdf %}
<footer class="footer">
    <div class="container">
        <p class="text-muted">Contact: <a href="https://contact.framasoft.org">https://contact.framasoft.org</a> &#124; Site web : <a href="https://framasoft.org">https://framasoft.org</a></p>
        <p class="text-center">Page 1 / 1</p>
    </div>
</footer>
{% endif %}
</body>
</html>
