{% extends 'base.html.twig' %}

{% block content %}
    <h2>{{ 'admin.payment.status.title' | trans({'client_name': client.Name, 'client_id': client.ClientId}) }}</h2>
    <div class="uk-flex uk-child-width-expand@s" uk-grid>
        <div class="uk-card uk-card-default">
            <h3>Adresse</h3>
            <address>
                {{ client.HeadquartersAddress.AddressLine1 }}
                {{ client.HeadquartersAddress.AddressLine2 }}<br />
                {{ client.HeadquartersAddress.City }} - {{ client.HeadquartersAddress.Region }} <br />
                {{ client.HeadquartersAddress.PostalCode }} - {{ client.HeadquartersAddress.Country }}
            </address>
        </div>
        <div class="uk-card uk-card-default">
            <h3>Emails</h3>
            <ul>
                <li>Admin : {{ client.AdminEmails | join }}</li>
                <li>Tech : {{ client.TechEmails | join }}</li>
                <li>Fraud : {{ client.FraudEmails | join }}</li>
                <li>Billing : {{ client.BillingEmails | join }}</li>
            </ul>
        </div>
        <div class="uk-card uk-card-default">
            <h3>Plateforme</h3>
            <ul>
                <li>Description : {{ client.PlatformDescription }}</li>
                <li>Type : {{ client.PlatformType }}</li>
                <li>URL : {{ client.PlatformURL }}</li>
            </ul>
            <p>
            Numéro de TVA : {% if client.TaxNumber is null %}Non renseigné{% else %}{{ client.TaxNumber }}{% endif %}
            </p>
            <p>
            ID: {% if client.Id is null %}Nul{% else %}{{ client.Id }}{% endif %}
            </p>
            <p>
                Couleur principale du thème : {{ client.PrimaryThemeColour }}<br />
                Couleur principale des boutons : {{ client.PrimaryButtonColour }}<br />
                Logo : {{ client.Logo }}
            </p>
        </div>
        <div class="uk-card uk-card-default">
            <h3>Utilisateur</h3>
            <ul>
                <li>ID: {{ user.Id }}</li>
                <li>Type: {{ user.PersonType }} - {{ user.LegalPersonType }}</li>
                <li>Nom: {{ user.Name }}</li>
                <li>Email: {{ user.Email }}</li>
                <li>Niveau de vérification: {{ user.KYCLevel }}</li>
            </ul>
        </div>
    </div>
    <h3>Portefeuilles</h3>
    <table class="uk-table">
        <thead>
        <tr>
            <th>ID</th>
            <th>Description</th>
            <th>Date de création</th>
            <th>Propriétaires</th>
            <th>Montant</th>
        </tr>
        </thead>
        <tbody>
        {% for wallet in wallets %}
            <tr>
                <td>{{ wallet.Id }}</td>
                <td>{{ wallet.Description }}</td>
                <td>{{ wallet.CreationDate | date }}</td>
                <td>{{ wallet.Owners | join }}</td>
                <td>{{ wallet.Balance.Amount / 100 }}{{ wallet.Balance.Currency }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <h3>Comptes bancaires</h3>
    <table class="uk-table">
        <thead>
        <tr>
            <th>ID</th>
            <th>Date de création</th>
            <th>Type de compte bancaire</th>
            <th>Nom du Propriétaire</th>
            <th>Adresse du propriétaire</th>
            <th>Actif</th>
        </tr>
        </thead>
        <tbody>
        {% for bankAccount in bankAccounts %}
            <tr>
                <td>{{ bankAccount.Id }}</td>
                <td>{{ bankAccount.CreationDate | date }}</td>
                <td>{{ bankAccount.Type }}</td>
                <td>{{ bankAccount.OwnerName }}</td>
                <td>{{ bankAccount.OwnerAddress.AddressLine1 }}</td>
                <td>{% if bankAccount.Active %}Actif{% else %}Inactif{% endif %}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <a class="btn btn-primary" href="{{ path('admin-stripe-add-bankaccount', {'userId': user.Id}) }}">Créer</a>
    <a class="btn btn-default" href="{{ path('admin-make-payout') }}">Effectuer un virement</a>

    <h3>Transactions</h3>
    {% if payments | length > 0 %}
        <table class="table">
            <thead>
            <tr>
                <td>{{ 'payment.id' | trans }}</td>
                <td>{{ 'payment.type' | trans }}</td>
                <td>{{ 'payment.created_at' | trans }}</td>
                <td>{{ 'payment.paid_at' | trans }}</td>
                <td>{{ 'payment.amount' | trans }}</td>
                <td>{{ 'payment.paid' | trans }}</td>
                <td>{{ 'payment.action' | trans }}</td>
            </tr>
            </thead>
            <tbody>
            {% for payment in payments|slice(0, 5) %}
                <tr>
                    <td>{{ payment.Id }}</td>
                    <td>{{ payment.Type }}</td>
                    <td>{{ payment.CreationDate | localizeddate }}</td>
                    <td>{% if payment.Status == 'SUCCEEDED' %}{{ payment.ExecutionDate | localizeddate }}{% else %}N/A{% endif %}</td>
                    <td>{{ payment.CreditedFunds.Amount / 100  }}€</td>
                    <td>{% if payment.Status == 'SUCCEEDED' %}Paid{% else %}Not paid{% endif %}</td>
                    <td><a href="{{ path('admin-view-payment', {'paymentId': payment.Id}) }}">Détails</a></td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
        <a class="btn btn-default" href="{{ path('admin-list-payments') }}">Voir plus de transaction</a>
    {% else %}
        {{ 'payment.list.empty' | trans }}
    {% endif %}
{% endblock %}
