{% block choice %}
    <div class="uk-flex uk-text-center uk-flex-wrap uk-flex-wrap-around choice" uk-grid>
        <div class="">
            <h2>{{ 'site.choice.head.title' | trans }}</h2>
            <p>{{ 'site.choice.head.desc' | trans }}</p>
            <div class="uk-flex-center uk-child-width-1-4@s uk-grid-match" uk-grid>
                <div class="uk-card-primary uk-card uk-margin-right uk-padding-remove-left page" data-intro="{{ 'help.site.one_page.create' | trans }}">
                    <div class="uk-card-header uk-padding-remove-top uk-padding-remove-bottom">
                        <div class="uk-grid-small uk-flex-middle" uk-grid>
                            <div class="uk-width-auto">
                                <i class="fa fa-globe" aria-hidden="true"></i>
                            </div>
                            <div class="uk-width-expand">
                                <a href="{{ path('new-single-page') }}"><h3 class="uk-card-title uk-margin-remove-bottom">{{ 'site.choice.module.single_page.title' | trans }}</h3></a>
                            </div>
                        </div>
                    </div>
                    <div class="uk-card-body uk-padding-remove">
                        <a href="#modal-overflow-single-page" uk-toggle>
                            <div class="uk-cover-container">
                                <canvas width="100" height="250"></canvas>
                                <img src="{{ asset('img/noemie_screen.png') }}" alt="" uk-cover>
                            </div>
                        </a>
                        <p class="uk-padding-small">{{ 'site.choice.module.single_page.desc' | trans }}</p>
                    </div>
                    <div class="uk-card-footer uk-padding-small">
                        <a class="btn btn-block btn-default" href="{{ 'site.choice.module.single_page.demo_url' | trans }}" target="_blank" rel="noopener noreferrer">{{ 'site.choice.demo' | trans }}</a>
                        <a class="btn btn-block btn-primary" href="{{ path('new-single-page') }}">{{ 'site.choice.module.single_page.create' | trans }}</a>
                    </div>
                </div>
                <div class="uk-card-primary uk-card uk-margin-right uk-padding-remove-left wiki" data-intro="{{ 'help.wiki.create' | trans }}">
                    <div class="uk-card-header uk-padding-remove-top uk-padding-remove-bottom">
                        <div class="uk-grid-small uk-flex-middle" uk-grid>
                            <div class="uk-width-auto">
                                <i class="fa fa-users" aria-hidden="true"></i>
                            </div>
                            <div class="uk-width-expand">
                                <a href="{{ path('new-wiki') }}"><h3 class="uk-card-title uk-margin-remove-bottom">{{ 'site.choice.module.wiki.title' | trans }}</h3></a>
                            </div>
                        </div>
                    </div>
                    <div class="uk-card-body uk-padding-remove">
                        <a href="#modal-overflow-wiki" uk-toggle>
                            <div class="uk-cover-container">
                                <canvas width="200" height="250"></canvas>
                                <img src="{{ asset('img/choice_wiki.png') }}" alt="" uk-cover>
                            </div>
                        </a>
                        <p class="uk-padding-small">{{ 'site.choice.module.wiki.desc' | trans }}</p>
                    </div>
                    <div class="uk-card-footer">
                        <a class="btn btn-block btn-default" href="{{ 'site.choice.module.wiki.demo_url' | trans }}" target="_blank" rel="noopener noreferrer">{{ 'site.choice.demo' | trans }}</a>
                        <a class="btn btn-block btn-primary" href="{{ path('new-wiki') }}">{{ 'site.choice.module.wiki.create' | trans }}</a>
                    </div>
                </div>
                <div class="uk-card-primary uk-card uk-margin-right uk-padding-remove-left blog" data-intro="{{ 'help.site.blog.create' | trans }}">
                    <div class="uk-card-header uk-padding-remove-top uk-padding-remove-bottom">
                        <div class="uk-grid-small uk-flex-middle" uk-grid>
                            <div class="uk-width-auto">
                                <i class="fa fa-pencil" aria-hidden="true"></i>
                            </div>
                            <div class="uk-width-expand">
                                <a href="{{ path('new-blog', {'type': 'blog'}) }}"><h3 class="uk-card-title uk-margin-remove-bottom">{{ 'site.choice.module.blog.title' | trans }}</h3></a>
                            </div>
                        </div>
                    </div>
                    <div class="uk-card-body uk-padding-remove">
                        <a href="#modal-overflow-blog" uk-toggle>
                            <div class="uk-cover-container">
                                <canvas width="100" height="250"></canvas>
                                <img src="{{ asset('img/choice_blog.png') }}" alt="" uk-cover>
                            </div>
                        </a>
                        <p class="uk-padding-small">{{ 'site.choice.module.blog.desc' | trans }}</p>
                    </div>
                    <div class="uk-card-footer">
                        <a class="btn btn-block btn-default" href="{{ 'site.choice.module.blog.demo_url' | trans }}" target="_blank" rel="noopener noreferrer">{{ 'site.choice.demo' | trans }}</a>
                        <a class="btn btn-block btn-primary" href="{{ path('new-blog', {'type': 'blog'}) }}">{{ 'site.choice.module.blog.create' | trans }}</a>
                    </div>
                </div>
            </div>
        </div>
        <hr />
        <div class="uk-width-1-1@m">
            <h2>{{ 'site.choice.advanced.title' | trans }}</h2>
            <p>{{ 'site.choice.advanced.desc' | trans }}</p>
            <div class="uk-flex uk-flex-center">
                <div class="uk-card-primary uk-card uk-width-1-3@m uk-padding-remove-left advanced" data-intro="{{ 'help.site.personalize.create' | trans }}">
                    <div class="uk-card-header uk-padding-remove-top">
                        <div class="uk-grid-small uk-flex-middle" uk-grid>
                            <div class="uk-width-auto">
                                <i class="fa fa-sliders" aria-hidden="true"></i>
                            </div>
                            <div class="uk-width-expand">
                                <h3 class="uk-card-title uk-margin-remove-bottom">{{ 'site.choice.advanced.module.personalized.title' | trans }}</h3>
                            </div>
                        </div>
                    </div>
                    <div class="uk-card-body uk-padding-remove-top uk-padding-remove-bottom">
                        <p>{{ 'site.choice.advanced.module.personalized.desc' | trans }}</p>
                    </div>
                    <div class="uk-card-footer">
                        <a class="btn btn-block btn-primary" href="{{ path('new-blog') }}">{{ 'site.choice.advanced.module.personalized.create' | trans }}</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="modal-overflow-blog" class="uk-modal-container" uk-modal>
        <div class="uk-modal-dialog" uk-overflow-auto>

            <button class="uk-modal-close-default" type="button" uk-close></button>

            <div class="uk-modal-header">
                <h2 class="uk-modal-title">{{ 'site.choice.module.blog.title' | trans }}</h2>
            </div>

            <div class="uk-modal-body" uk-overflow-auto>

                <h3>{{ 'site.choice.module.blog.popup.edit.title' | trans }}</h3>
                <div class="uk-flex-middle uk-padding uk-grid-match" uk-grid>
                    <div class="uk-cover-container uk-width-1-3@m">
                        <img src="{{ asset('img/caroussel_site.png') }}" alt="" uk-cover>
                        <canvas width="200" height="100"></canvas>
                    </div>
                    <p class="uk-width-2-3@m">Verum ad istam omnem orationem brevis est defensio. Nam quoad aetas M. Caeli dare potuit isti suspicioni locum, fuit primum ipsius pudore, deinde etiam patris diligentia disciplinaque munita. Qui ut huic virilem togam deditšnihil dicam hoc loco de me; tantum sit, quantum vos existimatis; hoc dicam, hunc a patre continuo ad me esse deductum; nemo hunc M. Caelium in illo aetatis flore vidit nisi aut cum patre aut mecum aut in M. Crassi castissima domo, cum artibus honestissimis erudiretur.<br />
                        Points cool à aborder : Éditeur visuel et markdown pour la mise en forme && Planification de la publication
                    </p>
                </div>

                <h3>{{ 'site.choice.module.blog.popup.manage.title' | trans }}</h3>
                <div class="uk-flex-middle uk-padding uk-grid-match" uk-grid>
                    <p class="uk-width-2-3@m">Harum trium sententiarum nulli prorsus assentior. Nec enim illa prima vera est, ut, quem ad modum in se quisque sit, sic in amicum sit animatus. Quam multa enim, quae nostra causa numquam faceremus, facimus causa amicorum! precari ab indigno, supplicare, tum acerbius in aliquem invehi insectarique vehementius, quae in nostris rebus non satis honeste, in amicorum fiunt honestissime; multaeque res sunt in quibus de suis commodis viri boni multa detrahunt detrahique patiuntur, ut iis amici potius quam ipsi fruantur.<br />Catégories, Tags, Recherche.
                    </p>
                    <div class="uk-cover-container uk-width-1-3@m">
                        <img src="{{ asset('img/caroussel_site.png') }}" alt="" uk-cover>
                        <canvas width="200" height="100"></canvas>
                    </div>
                </div>
            </div>

            <div class="uk-modal-footer uk-text-right">
                <button class="btn btn-default uk-modal-close" type="button">{{ 'site.choice.close' | trans }}</button>
                <a href="{{ path('new-blog', {'type': 'blog'}) }}" class="btn btn-primary" type="button">{{ 'site.choice.module.blog.create' | trans }}</a>
            </div>

        </div>
    </div>

    <div id="modal-overflow-cv" class="uk-modal-container" uk-modal>
        <div class="uk-modal-dialog" uk-overflow-auto>

            <button class="uk-modal-close-default" type="button" uk-close></button>

            <div class="uk-modal-header">
                <h2 class="uk-modal-title">{{ 'site.choice.module.cv.title' | trans }}</h2>
            </div>

            <div class="uk-modal-body" uk-overflow-auto>
                <h3>Écrivez quelques mots à votre propos</h3>
                <p>Harum trium sententiarum nulli prorsus assentior. Nec enim illa prima vera est, ut, quem ad modum in se quisque sit, sic in amicum sit animatus. Quam multa enim, quae nostra causa numquam faceremus, facimus causa amicorum! precari ab indigno, supplicare, tum acerbius in aliquem invehi insectarique vehementius, quae in nostris rebus non satis honeste, in amicorum fiunt honestissime; multaeque res sunt in quibus de suis commodis viri boni multa detrahunt detrahique patiuntur, ut iis amici potius quam ipsi fruantur.</p>

                <h3>Illustrez votre formation, vos expériences et vos compétences</h3>
                <p>Harum trium sententiarum nulli prorsus assentior. Nec enim illa prima vera est, ut, quem ad modum in se quisque sit, sic in amicum sit animatus. Quam multa enim, quae nostra causa numquam faceremus, facimus causa amicorum! precari ab indigno, supplicare, tum acerbius in aliquem invehi insectarique vehementius, quae in nostris rebus non satis honeste, in amicorum fiunt honestissime; multaeque res sunt in quibus de suis commodis viri boni multa detrahunt detrahique patiuntur, ut iis amici potius quam ipsi fruantur.</p>
            </div>

            <div class="uk-modal-footer uk-text-right">
                <button class="btn btn-default uk-modal-close" type="button">{{ 'site.choice.close' | trans }}</button>
                <a href="{{ path('new-blog', {'type': 'cv'}) }}" class="btn btn-primary" type="button">{{ 'site.choice.module.cv.create' | trans }}</a>
            </div>

        </div>
    </div>

    <div id="modal-overflow-wiki" class="uk-modal-container" uk-modal>
        <div class="uk-modal-dialog" uk-overflow-auto>

            <button class="uk-modal-close-default" type="button" uk-close></button>

            <div class="uk-modal-header">
                <h2 class="uk-modal-title">{{ 'site.choice.module.wiki.title' | trans }}</h2>
            </div>

            <div class="uk-modal-body" uk-overflow-auto>
                <h3>Créer</h3>
                <p>Partagez tout ce que vous savez sur les sujets qui vous passionnent. Contribuez, créez une page ou lancez un wiki !</p>

                <h3>Établir des liens</h3>
                <p>Trouvez des communautés partageant votre passion. Contribuez à un wiki ou invitez les utilisateurs à se rendre sur le vôtre.</p>
            </div>

            <div class="uk-modal-footer uk-text-right">
                <button class="btn btn-default uk-modal-close" type="button">{{ 'site.choice.close' | trans }}</button>
                <a href="{{ path('new-wiki') }}" class="btn btn-primary" type="button">{{ 'site.choice.module.wiki.create' | trans }}</a>
            </div>

        </div>
    </div>

    <div id="modal-overflow-single-page" class="uk-modal-container" uk-modal>
        <div class="uk-modal-dialog" uk-overflow-auto>

            <button class="uk-modal-close-default" type="button" uk-close></button>

            <div class="uk-modal-header">
                <h2 class="uk-modal-title">{{ 'site.choice.module.single_page.title' | trans }}</h2>
            </div>

            <div class="uk-modal-body" uk-overflow-auto>
                <h3>Expliquez votre projet</h3>
                <p>Harum trium sententiarum nulli prorsus assentior. Nec enim illa prima vera est, ut, quem ad modum in se quisque sit, sic in amicum sit animatus. Quam multa enim, quae nostra causa numquam faceremus, facimus causa amicorum! precari ab indigno, supplicare, tum acerbius in aliquem invehi insectarique vehementius, quae in nostris rebus non satis honeste, in amicorum fiunt honestissime; multaeque res sunt in quibus de suis commodis viri boni multa detrahunt detrahique patiuntur, ut iis amici potius quam ipsi fruantur.</p>

                <h3>Présentez votre travail avec le portofolio</h3>
                <p>Harum trium sententiarum nulli prorsus assentior. Nec enim illa prima vera est, ut, quem ad modum in se quisque sit, sic in amicum sit animatus. Quam multa enim, quae nostra causa numquam faceremus, facimus causa amicorum! precari ab indigno, supplicare, tum acerbius in aliquem invehi insectarique vehementius, quae in nostris rebus non satis honeste, in amicorum fiunt honestissime; multaeque res sunt in quibus de suis commodis viri boni multa detrahunt detrahique patiuntur, ut iis amici potius quam ipsi fruantur.</p>

                <h3>Listez vos références</h3>
                <p>Harum trium sententiarum nulli prorsus assentior. Nec enim illa prima vera est, ut, quem ad modum in se quisque sit, sic in amicum sit animatus. Quam multa enim, quae nostra causa numquam faceremus, facimus causa amicorum! precari ab indigno, supplicare, tum acerbius in aliquem invehi insectarique vehementius, quae in nostris rebus non satis honeste, in amicorum fiunt honestissime; multaeque res sunt in quibus de suis commodis viri boni multa detrahunt detrahique patiuntur, ut iis amici potius quam ipsi fruantur.</p>

                <h3>Donnez un aperçu de votre équipe</h3>
                <p>Harum trium sententiarum nulli prorsus assentior. Nec enim illa prima vera est, ut, quem ad modum in se quisque sit, sic in amicum sit animatus. Quam multa enim, quae nostra causa numquam faceremus, facimus causa amicorum! precari ab indigno, supplicare, tum acerbius in aliquem invehi insectarique vehementius, quae in nostris rebus non satis honeste, in amicorum fiunt honestissime; multaeque res sunt in quibus de suis commodis viri boni multa detrahunt detrahique patiuntur, ut iis amici potius quam ipsi fruantur.</p>
            </div>

            <div class="uk-modal-footer uk-text-right">
                <button class="btn btn-default uk-modal-close" type="button">{{ 'site.choice.close' | trans }}</button>
                <a href="{{ path('new-single-page') }}" class="btn btn-primary" type="button">{{ 'site.choice.module.single_page.create' | trans }}</a>
            </div>

        </div>
    </div>
{% endblock %}
