{% extends 'base.html.twig' %}

{% block content %}

<div class="clearfix delete-site">
    {{ form_start(form, {'attr': {'class': 'form-horizontal'}}) }}
    {{ form_errors(form) }}

    <div class="alert alert-danger">
       {{ 'site.delete.warning.main' | trans | raw }}
    </div>
    {% if site is blog %}
        <div class="alert alert-info">{{ 'site.delete.warning.export' | trans | raw }} <a href="https://{{ site.subdomain }}.frama.site/admin/backup-manager" class="btn btn-warning">{{ 'site.shortcuts.export' | trans }}</a></div>
    {% endif %}

    <div class="form-group">
        {{ form_label(form.password) }}
        <div class="col-sm-10">
            {{ form_errors(form.password) }}
            {{ form_widget(form.password) }}
            <small class="help-block">{{ 'site.delete.password' | trans({'%subdomain%': site is blog ? site.subdomain ~ '.frama.site' : site.subdomain ~ '.frama.wiki'}) }}</small>
        </div>
    </div>

    <a href="{{ referer }}" class="btn btn-default">{{ 'site.delete.form.cancel' | trans }}</a>
    {{ form_widget(form.save) }}

    {{ form_end(form) }}
</div>
{% endblock %}
