{% extends 'base.html.twig' %}

{% block content %}
    <script src="https://js.stripe.com/v3/"></script>
    <div class="uk-flex uk-flex-center command-view">
        <div class="uk-card uk-card-default uk-width-1-2@m">

            <div class="progress">
                <div class="progress-bar" role="progressbar" aria-valuenow="30" aria-valuemin="0" aria-valuemax="100" style="width: 30%;">
                    30%
                </div>
            </div>
            <form action="{{ path('payment-process', {'command': command.id}) }}" method="post" id="payment-form" class="form">
            <div class="uk-card-header">
                <h2>{{ 'payment.choice.title' | trans }}</h2>
                <p>{{ 'payment.choice.desc' | trans }}</p>
            </div>
            <div class="uk-card-body">
                <div>
                {% set nocards = not (cards | length > 0) %}
                    <div class="row">
                        {% if not nocards %}
                        <h3>{{ 'payment.choice.saved_cards.title' | trans }}</h3>
                        <table class="uk-table uk-table-divider">
                            <thead>
                            <tr>
                                <th>{{ 'payment.choice.saved_cards.list_header.your_payment_cards' | trans }}</th>
                                <th>{{ 'payment.choice.saved_cards.list_header.expiration_date' | trans }}</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for card in cards %}
                                <tr>
                                    <td><label><div style="padding: 19px 0 20px 65px;border-bottom: 1px solid #DCE3E6;position: relative">
                                                <div style="position: absolute;left: 0;top: 33px;">
                                                    <input type="radio" id='regular' name="card" value="{{ card.id }}">
                                                    <i class="fa fa-cc-{{ card.brand | lower }}" aria-hidden="true" style="font-size: 1.7em"></i></div>
                                                <div>
                                                    {% if card.id == default_card_id and cards | length > 1 %}
                                                        {{ 'payment.card.view.title_default' | trans({'%brand%': card.brand | capitalize, '%last4%': card.last4}) }}
                                                    {% else %}
                                                        {{ 'payment.card.view.title' | trans({'%brand%': card.brand | capitalize, '%last4%': card.last4}) }}
                                                    {% endif %}</div>
                                                <div class="details" style="color: #999">
                                                    <span>• • • •  • • • •  • • • •  {{ card.last4 }}</span>
                                                </div>
                                            </div></label></td>
                                    <td>{{ card.exp_month }} / {{ card.exp_year }}</td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                        {% endif %}
                        {% if not nocards %}<button class="btn btn-default" type="button" onclick="toggleNewCardPanel()">{{ 'payment.choice.saved_cards.add.btn' | trans }}</button>{% endif %}
                    </div>
                    <div class="row">
                        <div class="newcard" {% if not nocards %}style="display: none" {% endif %}>
                            {% if nocards %}<h3>{{ 'payment.choice.direct.title' | trans }}</h3>{% endif %}
                                <div class="form-row">
                                    <label for="card-element">
                                        {{ 'payment.choice.saved_cards.add.label' | trans }}
                                    </label>
                                    <div id="card-element" class="form-control">
                                        <!-- a Stripe Element will be inserted here. -->
                                    </div>

                                    <!-- Used to display form errors -->
                                    <div id="card-errors" role="alert"></div>
                                </div>
                            <p>
                                <label><input type="checkbox" class="uk-checkbox" name="no-save-card" />{{ 'payment.choice.saved_cards.add.dont_save_for_later' | trans }}</label>
                            </p>
                        </div>
                    </div>
                {#<h3>Payer par débit direct</h3>
                <p><a href="#" class="btn btn-block btn-lg btn-primary disabled">Payer par débit direct (bientôt disponible)</a></p>#}
                </div>
                <p>

                </p>

            </div>
            <div class="uk-card-footer">
                <a class="btn btn-default" href="{{ path('command-view', {'command': command.id }) }}">{{ 'payment.choice.cancel' | trans }}</a>
                <button type="submit" class="btn btn-success pull-right">Payer</button>
            </div>
            </form>
        </div>
    </div>
    <script>
        function toggleNewCardPanel() {
            $('.newcard').toggle('slow');
        }

        // Create a Stripe client
        var stripe = Stripe('{{ stripe_public_key }}');

        // Create an instance of Elements
        var elements = stripe.elements();

        // Custom styling can be passed to options when creating an Element.
        // (Note that this demo uses a wider set of styles than the guide below.)
        var style = {
            base: {
                color: "#32325D",
                fontWeight: 500,
                fontFamily: '"Helvetica Neue", Helvetica, sans-serif',
                fontSmoothing: 'antialiased',
                fontSize: '16px',
                '::placeholder': {
                    color: '#CFD7DF'
                }
            },
            invalid: {
                color: '#E25950',
                iconColor: '#fa755a'
            }
        };

        // Create an instance of the card Element
        var card = elements.create('card', {style: style});

        // Add an instance of the card Element into the `card-element` <div>
        card.mount('#card-element');

        // Handle real-time validation errors from the card Element.
        card.addEventListener('change', function(event) {
            var displayError = document.getElementById('card-errors');
            if (event.error) {
                displayError.textContent = event.error.message;
            } else {
                displayError.textContent = '';
            }
        });

        function stripeTokenHandler(token) {
            // Insert the token ID into the form so it gets submitted to the server
            var form = document.getElementById('payment-form');
            var hiddenInput = document.createElement('input');
            hiddenInput.setAttribute('type', 'hidden');
            hiddenInput.setAttribute('name', 'stripeToken');
            hiddenInput.setAttribute('value', token.id);
            form.appendChild(hiddenInput);

            // Submit the form
            form.submit();
        }

        // Handle form submission
        var form = document.getElementById('payment-form');
        form.addEventListener('submit', function(event) {
            var field = document.querySelector('input[name="cardnumber"]');
            if (!field.hasClass('is-empty')) {

                event.preventDefault();

                stripe.createToken(card).then(function (result) {
                    if (result.error) {
                        // Inform the user if there was an error
                        var errorElement = document.getElementById('card-errors');
                        errorElement.textContent = result.error.message;
                    } else {
                        // Send the token to your server
                        stripeTokenHandler(result.token);
                    }
                });
            }
        });
    </script>
{% endblock %}