{% extends 'base.html.twig' %}

{% block content %}

<div class="row progress">
    {% set progress = 60 + (40 / nbDomains) * passedDomains %}
    <div class="progress-bar" role="progressbar" aria-valuenow="{{ progress }}" aria-valuemin="0" aria-valuemax="100" style="width: {{ progress }}%;">
        {{ progress }}%
    </div>
</div>
<h3>{{ 'contact.title' | trans }}</h3>
<div class="row">
    {{ form_start(form, {'attr': {'class': 'form-horizontal'}}) }}
    {{ form_errors(form) }}
    <h4>{{ 'contact.account.title' | trans }}</h4>
    <p>Renseignements pour le domaine {{ domainName }}</p>
    <div class="form-group">
        {{ form_errors(form.email) }}
        {{ form_label(form.email) }}
        <div class="col-sm-6">
            <div class="input-group">
                <span class="input-group-addon">@</span>
                {{ form_widget(form.email) }}
            </div>
            <span id="helpBlock" class="help-block">{{ 'contact.email.help' | trans }}</span>
        </div>
    </div>

    <div class="form-group">
        {{ form_errors(form.password) }}
        {{ form_label(form.password) }}
        <div class="col-sm-6">
            {{ form_widget(form.password) }}
            <span id="helpBlock" class="help-block">{{ 'contact.password.help' | trans | raw }}</span>
        </div>
    </div>

    <h4>{{ 'contact.profile.title' | trans }}</h4>
    <div class="row">
        <div class="alert alert-info col-sm-offset-3 col-sm-6">
            <strong>{{ 'contact.profile.info.one' | trans }}</strong>
            <p>{{ 'contact.profile.info.two' | trans | raw }}</p>
            <p>{{ 'contact.profile.info.three' | trans | raw }}</p>
        </div>
    </div>

    <div class="form-group">
        {{ form_errors(form.type) }}
        {{ form_label(form.type) }}
        <div class="col-sm-6">
            {{ form_widget(form.type) }}
        </div>
    </div>

    <div class="form-group hidden" id="orgNameDiv">
        {{ form_errors(form.orgName) }}
        {{ form_label(form.orgName) }}
        <div class="col-sm-6">
            {{ form_widget(form.orgName) }}
        </div>
    </div>

    <div class="form-group">
        {{ form_errors(form.givenName) }}
        {{ form_label(form.givenName) }}
        <div class="col-sm-6">
            {{ form_widget(form.givenName) }}
        </div>
    </div>

    <div class="form-group">
        {{ form_errors(form.familyName) }}
        {{ form_label(form.familyName) }}
        <div class="col-sm-6">
            {{ form_widget(form.familyName) }}
        </div>
    </div>

    <div class="form-group">
        {{ form_errors(form.streetAddress) }}
        {{ form_label(form.streetAddress) }}
        <div class="col-sm-6">
            {{ form_widget(form.streetAddress) }}
        </div>
    </div>

    <div class="form-group">
        {{ form_errors(form.zipCode) }}
        {{ form_label(form.zipCode) }}
        <div class="col-sm-6">
            {{ form_widget(form.zipCode) }}
        </div>
    </div>

    <div class="form-group">
        {{ form_errors(form.city) }}
        {{ form_label(form.city) }}
        <div class="col-sm-6">
            {{ form_widget(form.city) }}
        </div>
    </div>

    <div class="form-group">
        {{ form_errors(form.country) }}
        {{ form_label(form.country) }}
        <div class="col-sm-6">
            {{ form_widget(form.country) }}
        </div>
    </div>

    <div class="form-group">
        {{ form_errors(form.phone) }}
        {{ form_label(form.phone) }}
        <div class="col-sm-6">
            {{ form_widget(form.phone) }}
            <span id="helpBlock" class="help-block">{{ 'contact.phone.help' | trans | raw }}</span>
        </div>
    </div>

    <div class="checkbox col-sm-offset-3">
        {{ form_errors(form.obfuscateInfo) }}
        {{ form_label(form.obfuscateInfo) }}
        {{ form_widget(form.obfuscateInfo) }}
    </div>

    {{ form_widget(form.save) }}
    {{ form_end(form) }}
</div>
    <script>
        $(document).ready(function () {
            if ($('input[name="contact[type]"]:checked').val() !== '0') {
                $('#orgNameDiv').removeClass('hidden');
            }
            $('input[name="contact[type]"]').change(function () {
                if (this.value !== '0') {
                    $('#orgNameDiv').removeClass('hidden');
                } else {
                    $('#orgNameDiv').addClass('hidden');
                }
            });
        });
    </script>
{% endblock %}